.form {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-input {
  padding: 8px 16px;
  border-radius: 4px;
  width: 324.8px;
  height: 20.8px;
  margin-bottom: 16px;
  border: 1px solid #808080;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form-input:hover {
  border: 1px solid #000000;
}

.form-input:focus {
  border: 1px solid #4e75ff;
}

.snackbar-list {
  width: 318px;
  margin-bottom: 24px;

  padding-left: 24px;
  border-radius: 4px;
  stroke-width: 1px;
  border: 1px solid #808080;
}

.snackbar-list:hover {
  border: 1px solid #000000;
}

.snackbar-label {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding-left: 34px;
}

.snackbar-input {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

.snackbar-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.snackbar-btn:hover {
  background: #6c8cff;
}
